body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1rem 1rem 1rem 1rem;
    display: inline-block;
}
.container-buttons {
    background: linear-gradient(rgba(19, 18, 18, 0.164), rgb(71, 70, 71));
    color: aliceblue;
    padding: .75rem;
    border: solid 1px rgba(61, 61, 61, 0.466);
}

.screen{
    height: 2.5rem;
    border: solid 1px rgba(61, 61, 61, 0.466);
    background: linear-gradient(rgb(118, 194, 212), rgb(10, 96, 136));
    margin: .5rem ;
    display: flex;
}
.result {
    width: 100%;
    font-size: 2rem;
    align-self: center;
    text-align: end;    
    margin: 0 .25rem;
}

button {
    color: aliceblue;
    background: linear-gradient(rgb(131, 131, 131), pink);
    margin: .25rem;
    width: 3rem;
    height: 2.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}


